table { 
    border: 2px solid black; 
    border-collapse: collapse;
    font-size: smaller; 
     
}


td { 
    border: 2px solid black;
    padding: 0.25em; 
}

tr > td { 
    padding-right: 10px; 
}


.A { 
    background-color: #A2D2DF;
}

.B { 
    background-color: #5C7285; 
}

.C { 
    background-color:  #F6EFBD; 
}

.D { 
    background-color:  #BC7C7C;
}

.E { 
    background-color: #F5D3C4;
}

.F { 
    background-color: #E7E8D8;
}

.G { 
    background-color: #D2E0FB;
}

.H { 
    background-color: #D2E0FB; 
}

.I { 
    background-color: #574964; 
}

.J { 
    background-color: #FF7444; 
}

.K { 
    background-color: #DEE791; 
}