table { 
    border: 2px solid black; 
    border-collapse: collapse;
    font-size: smaller; 
     
}


td { 
    border: 2px solid black;
    padding: 0.25em; 
}

tr > td { 
    padding-right: 10px; 
}

